<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://i.postimg.cc/WFtg4vXC/icona-kiazza.png">

        {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('Bulma') }}
            {{ encore_entry_link_tags('app') }}
            {% if controller_name == 'HomePageController' %}
            {{ encore_entry_link_tags('navbar') }}
            {{ encore_entry_link_tags('carousel') }}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('carousel') }}
            <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
            <script src="https://use.fontawesome.com/a6fb78d80a.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
    <body>
        {% include('elements/navbar.html.twig') %}
        {% block body %}

        {% endblock %}
    </body>
</html>
